<div id="alertModal" class="modal" tabindex="-1"	aria-labelledby="myModalLabel" style="width:560px !important;">
	<div class="modal-dialog"  style="width:560px !important;">
		<div class="modal-content">
			<div class="modal-header red-warning">
				<h4 class="modal-title text-center">{{alertTitle}}</h4>
			</div>
			<div class="modal-body">
				<p class="text-center confirm-text">{{alertMessage}}</p>
				<div class="modalActionButtons">
					<button type="button" class="btn red small-text"
						data-dismiss="modal" aria-hidden="true" ng-click="close()">Close</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>