<div id="changeUserPassword" class="modal modal-md user-input-modal" tabindex="-1" aria-labelledby="myModalLabel"
	style="width: 680px;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ myTitle() }}</h4>
			</div>
			<div class="modal-body">
				<span class="required-field" style="float: right; margin-right: 20px;"> * Required </span>

				<div id="changePassword" class="g12">
					<form name="changePasswordForm">
						<div class="row-container">
							<label for="newPassword" style="width: 165px;">New Password:<span class="required-field">*</span></label>
							<div class="input-and-message-container">
								<div class="row-item input-container">
									<input password-input-field type="password" name="newPassword" ng-model="password.newPassword" minlength="8" maxlength="100" placeholder="Enter new password">
								</div>
								<div class="user-alert-container-md" id="newPasswordAlert">
									<div class="alert-popup" ng-show="changePasswordForm.newPassword.$invalid && (changePasswordForm.newPassword.$dirty || showAllErrors)">
										<div class="arrow"></div>
										<span ng-show="changePasswordForm.newPassword.$error.required">{{fieldBlankMessage}}</span>
										<span ng-show="!changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$error.minlength">{{passwordInvalidMessage.minlength}}</span>
										<span ng-show="!changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$error.maxlength">{{maxlengthInvalidMessage}}</span>
										<span ng-show="!changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$error.caseDiverse">{{passwordInvalidMessage.caseDiverse}}</span>
										<span ng-show="!changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$error.specChars">{{passwordInvalidMessage.specChars}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row-container">
							<label for="confirmPassword" style="width: 165px;">Confirm Password:<span
								class="required-field">*</span>
							</label>
							<div class="input-and-message-container">
								<div class="row-item input-container">
									<input confirm-password-field type="password" name="confirmPassword" ng-model="confirmPassword" original-password="password.newPassword" placeholder="Confirm new password">
								</div>
								<div class="user-alert-container">
									<div class="user-alert-container-sm" id="confirmPasswordAlert">
										<div class="alert-popup small" ng-show="changePasswordForm.confirmPassword.$invalid && (changePasswordForm.confirmPassword.$dirty || showAllErrors)">
											<div class="arrow"></div>
											<span ng-show="changePasswordForm.confirmPassword.$error.confirmPassword">{{confirmInvalidMessage}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="modalActionButtons">
							<button type="submit" class="btn blue small-text" value="submit" ng-click="changeUserPassword()">Save</button>
							<button type="button" class="btn grey small-text" data-dismiss="modal" aria-hidden="true" ng-click="close()">Cancel</button>
						</div>
						<div ng-init="setForm(changePasswordForm);" />
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>