<div id="forgotPassword" class="modal modal-md user-input-modal" style="top:30%;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Password Recovery</h4>
			</div>
			<div class="modal-body" style="display: inline-block;padding: 15px 20px;width:700px;">
				<div style="float:left;width: 450px;margin-right: 15px;">
					<h4>Can't sign in?  Forgot your password?</h4>
					<p>Enter your email address below and we'll send you password reset instructions.</p>
					<form name="forgotPasswordForm" style="padding:20px 90px 0px 0px;">
						<div style="text-align:center;">
							<input email-input-field type="text" ng-model="user.email" placeholder="Email address" name="username" id="username" style="margin:0px;padding:6px 0px;">
							<div class="user-alert-container-sm" style="position: absolute;top: 65px;left: 380px;">
								<div class="alert-popup small" ng-show="(forgotPasswordForm.username.$empty && forgotPasswordForm.username.$dirty) || (forgotPasswordForm.username.$invalid && showAllErrors)">
									<div class="arrow"></div>
									<span ng-show="forgotPasswordForm.username.$error.required">{{fieldBlankMessage}}</span>
									<span ng-show="!forgotPasswordForm.username.$error.required && forgotPasswordForm.username.$error.format">{{usernameInvalidMessage}}</span>
								</div>
							</div>
						</div>
						<div class="modalActionButtons" style="margin:5px 0px;text-align:initial;">
							<button type="submit" class="btn blue small-text" ng-click="resetPassword()">Send reset instructions</button>
							<button type="button" class="btn grey small-text" data-dismiss="modal" aria-hidden="true" ng-click="close()">Back</button>
						</div>
						<div ng-init="setForm(forgotPasswordForm);"/>
					</form>
				</div>
				<div style="height: 95px;float: left;width: 220px;border-left: #00BCBE solid 2px;padding-left: 10px;">
					<h4>A note about spam filters</h4>
					<p>If you don't get an email from us within a few minutes, please be sure to check your spam filter. <b>The email will be coming from do-not-reply@ao-fs.com</b></p>
				</div>
			</div>
		</div>
	</div>
</div>