<div id="linkTrades" class="modal" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Link Trade</h4>
            </div>
            <div class="modal-body" style="min-width:970px;max-height:320px;padding-bottom:0px;overflow-x:hidden;">
                <!-- <div class="datatableSummaryWrapper" ng-bind-html="selectedTradeSummary" style="margin:3px 7px 7px 7px;"/> -->
                    <div style="width:100%;text-align:center;">
                    <div style="display:inline-block;min-width:956px;margin-left: 35px;">
                        <table id="modalLinkTable" cellspacing="0" cellpadding="2px" border="0"
                               modal-link-datatable aa-data="selectedTrade" style="width:910px;"
                               class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th data-mdata="securityID" data-sclass="securityIDTagClass mismatched" data-sortable="true" data-filter="input">Sec&nbsp;ID</th>
                                <th data-mdata="securityIDSource" data-sclass="securityIDTypeTagClass mismatched" data-sortable="true" data-filter="select">Sec&nbsp;ID&nbsp;Type</th>
                                <th data-mdata="side" data-sclass="sideTagClass" data-sortable="true" data-filter="select">Side</th>
                                <th data-mdata="quantity" data-sclass="right quantityTagClass" data-sortable="true" data-datatype="quantity" data-filter="input">Qty</th>
                                <th data-mdata="currency" data-sClass="currencyTagClass" data-sortable="true" data-filter="select">Ccy</th>
                                <th data-mdata="avgPx" data-sclass="right avgPxTagClass" data-sortable="true" data-datatype="preciseprice" data-filter="input">Avg&nbsp;Px</th>
                                <th data-mdata="tradeDate" data-sClass="tradeDateTagClass" data-sortable="true" data-datatype="date" data-filter="date-range">Trade&nbsp;Date</th>
                                <th data-mdata="settlDate" data-sClass="settleDateTagClass" data-sortable="true" data-datatype="date" data-filter="date-range">Settle&nbsp;Date</th>
                                <th data-mdata="tradeID" data-sClass="tradeIDTagClass" data-sortable="true" data-filter="input">Trade&nbsp;ID</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div style="padding:10px 15px 10px 15px;font-size:13px;">
                    This trade can be linked to one of the following broker trades.
                </div>
                <div style="width:100%;text-align:center;">
                    <div style="display:inline-block;min-width:956px;">
                        <table id="modalTable" cellspacing="0" cellpadding="0" border="0"
                               modal-datatable aa-data="linkTableData" style="width:940px;"
                               scroll-height="190" show-empty-message="NO_LINKABLE_BROKER_TRADES_FOUND"
                               class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th data-mdata="RB" data-sclass="CBTagClass" data-sortable="false">Link</th>
                                <th data-mdata="securityID" data-sclass="securityIDTagClass mismatched" data-sortable="true" data-filter="input">Sec&nbsp;ID</th>
                                <th data-mdata="securityIDSource" data-sclass="securityIDTypeTagClass mismatched" data-sortable="true" data-filter="select">Sec&nbsp;ID&nbsp;Type</th>
                                <th data-mdata="side" data-sclass="sideTagClass" data-sortable="true" data-filter="select">Side</th>
                                <th data-mdata="quantity" data-sclass="right quantityTagClass" data-sortable="true" data-datatype="quantity" data-filter="input">Qty</th>
                                <th data-mdata="currency" data-sClass="currencyTagClass" data-sortable="true" data-filter="select">Ccy</th>
                                <th data-mdata="avgPx" data-sclass="right avgPxTagClass" data-sortable="true" data-datatype="preciseprice" data-filter="input">Avg&nbsp;Px</th>
                                <th data-mdata="tradeDate" data-sClass="tradeDateTagClass" data-sortable="true" data-datatype="date" data-filter="date-range">Trade&nbsp;Date</th>
                                <th data-mdata="settlDate" data-sClass="settleDateTagClass" data-sortable="true" data-datatype="date" data-filter="date-range">Settle&nbsp;Date</th>
                                <th data-mdata="tradeID" data-sClass="tradeIDTagClass" data-sortable="true" data-filter="input">Trade&nbsp;ID</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modalActionButtons">
                <button class="btn gold btn-icon link" id="linkTradeBtn" ng-click="submitLink();">Link</button>
                <button class="btn grey" id="cancelBtn" ng-click="close();">Cancel</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
