<div id="logout" class="modal user-input-modal" tabindex="-1" aria-labelledby="myModalLabel" style="width:420px !important;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Logout</h4>
      </div>
      <div class="modal-body">
        <form>
        	<div class="row-container" style="width:400px;">
        		<label style="width:300px;vertical-align:top;padding-left:0px;">Are you sure you want to leave?</label>
        	</div>
          	<div class="modalActionButtons" style="padding-top:5px;">
	            <button type="submit" class="btn blue small-text" ng-click="logoutUser()">Ok</button>
	            <button type="button" class="btn grey small-text" data-dismiss="modal" ng-click="close()">Cancel</button>
          	</div>
        </form>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>