<div id="tagHelp" class="modal modal-md" style="width: 720px;" tabindex="-1"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Tag Description</h4>
			</div>
			<div class="modal-body">
				<iframe width="710" height="300" ng-src='{{externalContent}}'></iframe>
				<div class="modalActionButtons">
					<button type="button" class="btn grey small-text" data-dismiss="modal" aria-hidden="true" ng-click="close()">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>