<div id="loginForm">
	<div id="logo">
		<a href="login.html'">Alpha Omega Financial Services</a>
	</div>
	<div ng-show="sessionExpired" class="alert warning" style="">Your
		Session expired, please re-login</div>
	<div ng-show="invalidLogin" class="alert warning" style="">Authentication
		failed</div>
	<div ng-show="fixaffirmDown" class="alert warning" style="">FixAffirm
		is down, login unsuccessful</div>
	<div ng-show="serverDown" class="alert warning" style="">Server
		is down, login unsuccessful</div>
	<div ng-show="justLogout" class="alert success" style="">You have
		successfully logged out</div>
	<div ng-show="accountDisabled" class="alert warning" style="">Account
	    disabled</div>		
	<form ng-submit="login()" name="loginForm">
		<fieldset>
			<div>
				<label for="username">Username</label>
				<div>
					<input type="text" data-ng-model="username" name="username"
						id="username" required="required" />
				</div>
			</div>
			<div>
				<label for="password">Password <!-- <a href="#">lost password?</a>--></label>
				<div>
					<input type="password" data-ng-model="password" name="password"
						id="password" required="required" />
					<a class="link-style" ng-click="forgotPassword()" style="float:right;font-size:11px;padding-top:7px;">Forgot password?</a>
				</div>
			</div>
			<div>
				<div class="clearfix wrap-submit-login" style="padding-top: 12px">
					<button type="submit" class="btn blue inline-block submit">Login</button>
				</div>
			</div>
		</fieldset>
	</form>
	
</div>
