<div id="passwordResetForm">
	<div id="logo">
		<a href="login.html'">Alpha Omega Financial Services</a>
	</div>
	<div ng-show="fixaffirmDown" class="alert warning" style="">FixAffirm
		is down, password reset temporarily unavailable</div>
	<div ng-show="serverDown" class="alert warning" style="">Server
		is down, password reset temporarily unavailable</div>
	<div ng-show="accountDisabled" class="alert warning" style="">Account
	    disabled</div>		
	<form ng-submit="resetPassword()" name="resetPasswordForm">
		<fieldset>
			<div style="height:49px;">
				<label for="newPassword">Password</label>
				<div>
					<input id="newPassword" password-input-field type="password" name="newPassword" ng-model="newPassword" minlength="8" maxlength="100">
				</div>
				<div class="user-alert-container-md" id="newPasswordAlert" style="position:relative;left:295px;top:-47px;">
					<div class="alert-popup" ng-show="resetPasswordForm.newPassword.$invalid && (resetPasswordForm.newPassword.$dirty || showAllErrors)">
						<div class="arrow"></div>
						<span ng-show="resetPasswordForm.newPassword.$error.required">{{fieldBlankMessage}}</span>
						<span ng-show="!resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$error.minlength">{{passwordInvalidMessage.minlength}}</span>
						<span ng-show="!resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$error.maxlength">{{maxlengthInvalidMessage}}</span>
						<span ng-show="!resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$error.caseDiverse">{{passwordInvalidMessage.caseDiverse}}</span>
						<span ng-show="!resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$error.specChars">{{passwordInvalidMessage.specChars}}</span>
					</div>
				</div>
			</div>
			<div style="height:49px;">
				<label for="confirmPassword">Re-enter password</label>
				<div>
					<input confirm-password-field type="password" name="confirmPassword" ng-model="confirmPassword" original-password="newPassword">
				</div>
				<div class="user-alert-container-sm" id="confirmPasswordAlert" style="position:relative;left:295px;top:-33px;">
					<div class="alert-popup small" ng-show="resetPasswordForm.confirmPassword.$invalid && (resetPasswordForm.confirmPassword.$dirty || showAllErrors)">
						<div class="arrow"></div>
						<span ng-show="resetPasswordForm.confirmPassword.$error.confirmPassword">{{confirmInvalidMessage}}</span>
					</div>
				</div>
			</div>
			<div>
				<div class="clearfix wrap-submit-login" style="padding-top: 12px">
					<button type="submit" class="btn blue inline-block submit">Submit</button>
				</div>
			</div>
		</fieldset>
		<div ng-init="setForm(resetPasswordForm);" style="display:none;" />
	</form>
	
</div>
