/********** MAIN CONTENT STYLES **********/
/********** used by all pages ************/
.mainwrapper {
	margin: 10px;
	position: relative;
}

/********** MODAL ANIMATION NEGATION **********/
/********** used by all pages ************/
/*.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}*/

/********** LEFT PANEL *******************/
/********** used by all pages ************/
.mainleft {
	width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	padding-bottom: 20px;
}

.leftmenu {
	-moz-box-shadow: 1px 1px 2px #eee;
	-webkit-box-shadow: 1px 1px 2px #eee;
	box-shadow: 1px 1px 2px #eee;
}

.leftmenu ul {
	list-style: none;
}

.leftmenu ul li {
	display: block;
	position: relative;
}

.leftmenu ul li a {
	border: 1px solid #ddd;
	border-top: 0;
	display: block;
	background: #fcfcfc url(../images/icons/default/sprites.png);
	color: #666;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 8px center;
	font-weight: bold;
}

.leftmenu ul li a:hover {
	color: #333;
	text-decoration: none;
	background-color: #eee;
}

.leftmenu ul li:first-child a {
	border-top: 1px solid #ddd;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.leftmenu ul li:last-child a {
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.leftmenu ul li a span {
	display: block;
	padding: 8px 10px;
	border-left: 1px solid #eee;
	background: #fff;
}

.leftmenu ul li a:hover span {
	border-left: 1px solid #ddd;
	background: #f7f7f7;
}

.leftmenu ul li.current a {
	color: #fff;
	border: 1px solid #222;
}

.leftmenu>ul>li.current>a {
	background-color: #222;
}

.leftmenu ul li.current a span {
	border-left: 1px solid #444;
	background: #333;
}

.leftmenu ul li a.menudrop:hover span {
	background: #f7f7f7 url(../images/menudroparrow.png) no-repeat right 0;
}

.leftmenu ul li.current a.menudrop:hover span {
	background: #333 url(../images/menudroparrow.png) no-repeat right -31px;
}

.leftmenu ul li a.active {
	background-color: #eee;
}

.leftmenu ul li a.active span {
	background: #f7f7f7 url(../images/menudroparrow.png) no-repeat right 0;
	border-left: 1px solid #ddd;
}

.leftmenu ul li.current a.active {
	background-color: #222;
}

.leftmenu ul li.current a.active span {
	background: #333 url(../images/menudroparrow.png) no-repeat right -31px;
	border-left: 1px solid #444;
}

.leftmenu ul li a em {
	font-style: normal;
}

.leftmenu ul li a.dashboard {
	background-position: -154px -443px;
}

.leftmenu ul li a.widgets {
	background-position: -190px -443px;
}

.leftmenu ul li a.tables {
	background-position: -82px -480px;
}

.leftmenu ul li a.elements {
	background-position: -10px -443px;
}

.leftmenu ul li a.charts {
	background-position: -119px -480px;
}

.leftmenu ul li a.media {
	background-position: -47px -408px;
}

.leftmenu ul li a.form {
	background-position: -154px -262px;
}

.leftmenu ul li a.editor {
	background-position: -154px -262px;
}

.leftmenu ul li a.grid {
	background-position: -190px -443px;
}

.leftmenu ul li a.calendar {
	background-position: -82px -155px;
}

.leftmenu ul li a.buttons {
	background-position: -47px -443px;
}

.leftmenu ul li a.chat {
	background-position: -119px -299px;
}

.leftmenu ul li a.contacts {
	background-position: -82px -227px;
}

.leftmenu ul li a.users {
	background-position: -82px -191px;
}

.leftmenu ul li a.error {
	background-position: -119px -119px;
}

.leftmenu ul li .menutip {
	position: absolute;
	z-index: 100;
	left: 38px;
	top: 0;
	display: none;
	margin-left: 0;
	overflow: hidden;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.leftmenu ul li .menutip ul {
	width: 200px;
}

.leftmenu ul li .menutip span.subtitle {
	font-weight: bold;
	background: url(../images/blacktrans.png);
	color: #fff;
	padding: 9px 10px;
	display: block;
}

.leftmenu ul li .menutip ul {
	margin: 0;
}

.leftmenu ul li .menutip ul li {
	display: block;
}

.leftmenu ul li .menutip ul li a {
	color: #333;
	width: auto;
}

.leftmenu ul li .menutip ul li a span {
	display: block;
	background: #fff;
}

.leftmenu ul li ul {
	margin: 0 0 10px 36px;
	display: none;
}

.leftmenu ul li ul li:first-child a {
	border-top: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.leftmenu ul li ul li:last-child a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.leftmenu ul li ul li a {
	padding-left: 0;
	background: #f7f7f7;
}

.leftmenu ul li ul li a span {
	border-left: 0;
}

.leftmenu ul li ul li a:hover span {
	border-left: 0;
	background: #eee;
}

.leftmenu ul li.current ul {
	display: block;
}

.leftmenu ul li.current ul li a {
	border-top: 0;
	border-bottom: 1px solid #272727;
}

.leftmenu ul li.current ul li a span {
	border-left: 0;
}

.leftmenu ul li.current ul li a:hover span {
	background: #2e2e2e;
}

.leftmenu ul li.current .menutip span.subtitle {
	padding-bottom: 10px;
	border: 0;
}

.leftmenu ul li.current .menutip ul li {
	border: 0;
}

.leftmenu ul li.current .menutip ul li a {
	border-color: #ddd;
}

.leftmenu ul li.current .menutip ul li a span {
	border: 0;
}

.leftmenu ul li.current .menutip ul li a:hover span {
	background: #f7f7f7;
}

/**************** COLLAPSED LEFT PANEL ******************/
/**************** used by all pages *********************/
.lefticon .mainleft {
	width: 34px;
}

.lefticon .leftmenu {
	overflow: none;
}

.lefticon .leftmenu ul li {
	width: 250px;
}

.lefticon .leftmenu ul li a {
	width: 2px;
	height: 32px;
}

.lefticon .leftmenu ul li a span {
	display: none;
}

.lefticon .maincontent {
	margin-left: 45px;
}

#togglemenuleft {
	border-top: 1px solid #eee;
	margin-top: 20px;
	text-align: center;
}

#togglemenuleft a {
	display: inline-block;
	position: relative;
	top: -13px;
	width: 22px;
	height: 22px;
	background: url(../images/toggle.png) no-repeat 0 0;
	cursor: pointer;
}

#togglemenuleft a.toggle {
	background: url(../images/toggle.png) no-repeat 0 -25px;
	text-align: left;
}

/***************** MAIN CONTENT STYLES ***************/
/*****************************************************/
.maincontent {
	margin: 0 310px 0 260px;
}

.maincontentinner {
	
}

/***************** MAIN TAB MENU *********************/
/*****************************************************/
.maintabmenu {
	list-style: none;
	margin: 0;
	line-height: 21px;
	position: relative;
	z-index: 5;
}

.maintabmenu li {
	display: inline-block;
}

.maintabmenu li a {
	padding: 8px 20px 4px 20px;
	color: #999;
	font-family: 'BebasNeueRegular', Arial, Helvetica;
	font-size: 20px;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	border: 1px solid #ddd;
	letter-spacing: 0.8px;
	display: block;
	background: #eee url(../images/titlebg.png) repeat-x top left;
	text-shadow: 1px 1px #f7f7f7;
}

.maintabmenu li a:hover {
	text-decoration: none;
	color: #666;
	background: #ddd;
	border-color: #ccc;
	text-shadow: 1px 1px #e7e7e7;
}

.maintabmenu li.current a {
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	color: #333;
}

.maintabmenu li.current a:hover {
	text-shadow: none;
}

.content {
	padding: 20px;
	border: 1px solid #ddd;
	background: #fff;
	margin-top: -1px;
	line-height: 21px;
	-moz-border-radius: 0 2px 2px 2px;
	-webkit-border-radius: 0 2px 2px 2px;
	border-radius: 0 2px 2px 2px;
	-moz-box-shadow: 1px 1px 2px #eee;
	-webkit-box-shadow: 1px 1px 2px #eee;
	box-shadow: 1px 1px 2px #eee;
}

.contenttitle {
	background: #222;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.contenttitle h2 {
	font-size: 18px;
	letter-spacing: 0.8px;
	font-family: 'BebasNeueRegular', Arial, Helvetica;
	font-weight: normal;
	padding: 0 0 0 10px;
	background-repeat: no-repeat;
	background-image: url(../images/icons/default/sprites.png);
	background-position: -154px -443px;
	color: #fff;
}

.contenttitle h2 span {
	display: block;
	padding: 6px 0 6px 10px;
	margin-left: 25px;
	border-left: 1px solid #444;
	background: #333;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 1px 1px #222;
}

.contenttitle h2.inbox {
	background-position: -82px -335px;
}

.contenttitle h2.table {
	background-position: -82px -480px;
}

.contenttitle h2.form {
	background-position: -154px -262px;
}

.contenttitle h2.chart {
	background-position: -10px -227px;
}

.contenttitle h2.image {
	background-position: -10px -408px;
}

.contenttitle h2.button {
	background-position: -47px -443px;
}

/****************** LIST OF WIDGETS STYLE *******************/
/****************** dashboard.html **************************/
.widgetlist {
	list-style: none;
}

.widgetlist li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.widgetlist li a {
	display: inline-block;
	padding: 85px 20px 20px 20px;
	background-repeat: no-repeat;
	background-position: center 20px;
	color: #eee;
	font-weight: bold;
	background-color: #bbb;
	width: 80px;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.widgetlist li a:hover {
	text-decoration: none;
}

.widgetlist li a.default {
	background-color: #bbb;
}

.widgetlist li a.hover {
	background-color: #666;
}

.widgetlist li a.events {
	background-image: url(../images/icons/default/events.png);
}

.widgetlist li a.message {
	background-image: url(../images/icons/default/message.png);
}

.widgetlist li a.upload {
	background-image: url(../images/icons/default/image.png);
}

/*************** STANDARD TABLES **************/
/*************** tables.html ******************/
.stdtable {
	width: 100%;
}

.stdtable .con0 {
	background: #fcfcfc;
}

.stdtable .con1 {
	background: #f9f9f9;
}

.stdtable th,.stdtable td {
	line-height: 16px;
	vertical-align: middle;
}

.stdtable thead th,.stdtable thead td {
	padding: 5px 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.stdtable tfoot th,.stdtable tfoot td {
	padding: 5px 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.stdtable thead th:first-child,.stdtable tfoot th:first-child,.stdtable thead td:first-child,.stdtable tfoot td:first-child
	{
	border-left: 1px solid #ddd;
}

.stdtable thead th.head0,.stdtable tfoot th.head0,.stdtable thead td.head0,.stdtable tfoot td.head0
	{
	background-color: #eee;
}

.stdtable thead th.head1,.stdtable tfoot th.head1,.stdtable thead td.head1,.stdtable tfoot td.head1
	{
	background-color: #ddd;
}

.stdtable thead th.sorting,.stdtable thead td.sorting {
	background-image: url(../images/sort_both.png);
	background-repeat: no-repeat;
	background-position: right 3px;
}

.stdtable thead th.sorting_asc,.stdtable thead td.sorting_asc {
	background-image: url(../images/sort_asc.png);
	background-repeat: no-repeat;
	background-position: right 4px;
}

.stdtable thead th.sorting_desc,.stdtable thead td.sorting_desc {
	background-image: url(../images/sort_desc.png);
	background-repeat: no-repeat;
	background-position: right 4px;
}

.stdtable thead td {
	font-weight: bold;
}

.stdtable thead td.center {
	text-align: center;
}

.stdtable tbody tr td {
	padding: 8px 10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.stdtable tbody tr:last-child td {
	border-bottom: 1px solid #ccc;
}

.stdtable tbody tr td:first-child {
	border-left: 1px solid #ddd;
}

.stdtable tbody tr td:last-child {
	border-right: 1px solid #ddd;
}

.stdtable tbody tr:hover td,.stdtable tbody tr.selected td {
	background: #fffccc;
	color: #333;
}

.stdtable tbody tr.togglerow td {
	background: #fff;
}

.stdtable tbody tr.togglerow:hover td {
	background: #fff;
}

.stdtable tbody tr.hiderow {
	display: none;
}

.moreInfo th,.moreInfo tr {
	/*background: #c0bfbf;*/
	background: #cccccc;
	color: #000;
	text-shadow: none;
}

.moreInfo tr.deltaRow {
	background-color: rgba(238, 22, 18, 0.8);
}

.moreInfo thead th {
	background: #FFF;
}

.moreInfo table {
	background: none;
}

.tableoptions {
	background: #eee url(../images/titlebg.png) repeat-x top left;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 8px;
}

.tableoptions button {
	background: #fcfcfc url(../images/titlebg.png) repeat-x top left;
	font-size: 11px;
	color: #666;
	padding: 7px 10px;
	border: 1px solid #bbb;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	box-shadow: 1px 1px 2px #ddd;
	margin: 0;
	outline: none;
}

.tableoptions button:hover {
	background: #eee;
	cursor: pointer;
}

.tableoptions select {
	background: #fcfcfc url(../images/titlebg.png) repeat-x top left;
	padding: 6px 5px 7px 5px;
	border: 1px solid #bbb;
	margin: 0;
	outline: none;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	box-shadow: 1px 1px 2px #ddd;
	font-size: 11px;
	color: #666;
}

.dataTables_wrapper {
	position: relative; /*padding-top: 30px;*/
}
.dataTables_wrapper input[type='radio'], .dataTables_wrapper input[type='checkbox'], .ui-multiselect-checkboxes input[type='checkbox'], .small-checkbox[type='checkbox'] {
    border: 0px;
    padding: 0px;
    width: auto !important;
}
#blockTable_wrapper.dataTables_wrapper {
    min-height:398px;
}
#linkTrades .dataTables_wrapper {
    min-height: 70px;
    width:957px;
}
#rejectTrades .dataTables_wrapper {
     min-height: 70px;
 }
#miscFeeDetail .dataTables_wrapper {
     min-height: 0px;
 }
#customTags .dataTables_wrapper {
    min-height: 120px;
}
#eventsLog .bottomEvents .dataTables_wrapper {
    min-height: 120px;
}
tr.fixMessageIndentLevel2{
	text-indent: 25px;
	background-color: #e5e5e5;
}
tr.fixMessageIndentLevel3{
	text-indent: 50px;
	background-color: #c3c3c3;
}
tr.repeating-group {
	font-weight:800;
}
tr.repeating-group a {
	font-weight:700;
}

.dataTables_length,.dataTables_paginate {
	background: #eee url(../images/titlebg.png) repeat-x top left;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 8px;
}

.dataTables_wrapper select {
	background: #fcfcfc url(../images/titlebg.png) repeat-x top left;
	padding: 5px;
	border: 1px solid #bbb;
	margin: 0;
	outline: none;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	box-shadow: 1px 1px 2px #ddd;
	font-size: 11px;
	color: #666;
}

.dataTables_wrapper input {
	border: 1px solid #ccc;
	padding: 6px 5px 7px 5px;
	width: 200px;
}
/*.dataTables_filter { position: absolute; top: 8px; right: 8px; }*/
.dataTables_info {
	position: absolute;
	bottom: 13px;
	left: 8px;
}

.dataTables_paginate {
	text-align: right;
	line-height: 16px;
}

.dataTables_paginate span {
	display: inline-block;
}

.dataTables_paginate .paginate_button {
	border: 1px solid #ccc;
	padding: 5px 7px;
	margin-left: 5px;
	font-weight: bold;
	background: #fcfcfc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 11px;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	box-shadow: 1px 1px 2px #ddd;
}

.dataTables_paginate .paginate_active {
	border: 1px solid #222;
	background: #333;
	color: #fff;
	padding: 5px 7px;
	margin-left: 5px;
	font-weight: bold;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 11px;
}

.dataTables_paginate .paginate_button:hover {
	background: #ddd;
	border: 1px solid #ccc;
	cursor: pointer;
	color: #333;
}

#
tabs

.nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none;
}

.nav>li>a {
	display: block;
}

.nav>li>a:hover,.nav>li>a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}

.nav>li>a>img {
	max-width: none;
}

.nav>.pull-right {
	float: right;
}

.nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.nav li+.nav-header {
	margin-top: 9px;
}

.nav-list {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0;
}

.nav-list>li>a,.nav-list .nav-header {
	margin-left: -15px;
	margin-right: -15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list>li>a {
	padding: 3px 15px;
}

.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list>.active>a:focus
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.nav-list [class^="icon-"],.nav-list [class*=" icon-"] {
	margin-right: 2px;
}

.nav-list .divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}

.nav-tabs,.nav-pills {
	*zoom: 1;
}

.nav-tabs:before,.nav-pills:before,.nav-tabs:after,.nav-pills:after {
	display: table;
	content: "";
	line-height: 0;
}

.nav-tabs:after,.nav-pills:after {
	clear: both;
}

.nav-tabs>li,.nav-pills>li {
	float: left;
}

.nav-tabs>li>a,.nav-pills>li>a {
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
}

.nav-tabs {
	border-bottom: 1px solid #838383;
}

.nav-tabs>li {
	margin-bottom: -1px;
	font-size: 15px;
}

/*.nav-tabs>li>a{padding-top:8px;padding-bottom:8px;line-height:20px;border:1px solid #ccc; border-bottom:none;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{border-color:#eeeeee #eeeeee #dddddd; font-size:15px;}*/
.nav-tabs>li>a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 14px;
	border: 1px solid #ccc;
	border-bottom: none;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
	border-color: #eeeeee #eeeeee #dddddd;
	font-size: 15px;
}

.nav-tabs>li>a {
	background-color: #eeeeee;
}

.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus
	{
	color: #555555;
	background-color: #E8E7E5;
	border: 1px solid #838383;
	border-bottom-color: transparent;
	cursor: default;
	font-size: 15px;
	font-weight: bold;
}

.tabs-stacked .open>a:hover,.tabs-stacked .open>a:focus {
	border-color: #999999;
}

.tabbable {
	*zoom: 1;
}

.tabbable:before,.tabbable:after {
	display: table;
	content: "";
	line-height: 0;
}

.tabbable:after {
	clear: both;
}

.tab-content {
	overflow: auto;
}

.tabs-below>.nav-tabs,.tabs-right>.nav-tabs,.tabs-left>.nav-tabs {
	border-bottom: 0;
}

.tab-content>.tab-pane,.pill-content>.pill-pane {
	display: none;
}

.tab-content>.active,.pill-content>.active {
	display: block;
}

.angular_ui .collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
	min-height: 0px;
	padding: 0px;
}

body {
	color: #000;
}

#blockTable tr td {
    padding : 2px 2px;
}

table tr.white,table tr.matched, table tr.match_pending, table tr.unmatched, table tr.alleged {
	background-color: #fff;
}

table tr.green,table tr.affirmed {
	background-color: #b7f0b9;
}

table tr.red,table tr.rejected,table tr.error, table td.delta {
	background-color: #f0bdc0 !important;
}

table tr.grey, table tr.canceled, table tr.cancel_pending, table tr.canceled_by_broker {
	background-color: #cccccc;
}

table tr.yellow,table tr.mismatched, table tr.client_reject {
	background-color: #fee455;
}

table tr.selected {
	background-color: #0000ff;
}

table tr.selected td {
	color: #fff;
	background-color: #0000ff;
}

table tr td.yellow,table tr td.mismatched {
	background-color: #fee455;
}

.overflowtd {
	/*font-size: 1px;*/
	
}

td.ErrorDescTagClass {
	text-align: left;
    max-width:7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    outline:none;
}

td.textEllipsis {
	/* text-align: left; */
    max-width:7em;
    white-space: nowrap;
    overflow: hidden;
    outline:none;
}

tr.odd td.sorting_1 {
	background-color: none;
}

tr.even td.sorting_1 {
	background-color: none;
}

div#mainTableWrapper {
	height: auto;
    padding-bottom: 20px;
}

div#detailsPanelWrapper {
    padding-bottom: 15px;
    width: 100%;
    float: left;
}

div#mainTableWrapperSmall {
	height: 430px;
}

/*----------------------------------------------------------------------*
	/
	/* ACCORDION MENU
/*----------------------------------------------------------------------*/
	
	
	
	
	
	
	

 # accordion

.accordion {
	margin-bottom: 20px;
}

.accordion-heading .accordion-toggle {
	display: block;
	padding: 12px 15px;
}

.accordion-toggle {
	cursor: pointer;
}

.accordion-inner {
	padding: 5px 15px 9px;
	border-top: none;
}

.accordion .collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

nav {
	border-right-color: #e1e1e1 !important;
	border-left-color: #e1e1e1;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion {
	border-top-color: #e1e1e1;
	background-color: #797876;
}

.accordion-group {
	background-image: none !important;
}

.accordion-heading {
	height: 43px;
}

.accordion-heading {
	background: #f1f1f1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',
		endColorstr='#e8e8e8');
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1),
		to(#e8e8e8));
	background: -moz-linear-gradient(top, #f1f1f1, #e8e8e8);
	background: -o-linear-gradient(top, #f1f1f1, #e8e8e8);
}

.accordion-heading .active {
	background: #f6f6f6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',
		endColorstr='#f1f1f1');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6),
		to(#f1f1f1));
	background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
	background: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
}

.accordion-heading a {
	color: #353535;
	text-shadow: 0px 1px 0 #ffffff;
	border-color: #ffffff #f7f7f7 #dddddd #f7f7f7;
	font-family: helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	height: 18px;
	line-height: 18px;
	border: none;
	border-left: 0;
	border-right: 0;
	border-bottom-color: rgb(221, 221, 221);
	border-top-color: rgb(255, 255, 255);
}

.accordion-heading a:hover {
	text-decoration: none
}

.active .accordion-heading a {
	background-repeat: repeat-x;
	background-color: #F9cc1d;
	background-position: left center;
	color: #000000;
	text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3);
	filter: none;
}

.accordion-heading {
	border-bottom-color: #dddddd;
	border: none;
}

accordion ul li {
	background-image: none !important;
}

accordion ul li a {
	line-height: 15px;
}

accordion ul li a span {
	border-top-color: #dddddd;
	background-image: none !important;
	padding: 10px 10px 10px;
	font-size: 12px;
	display: block;
	border: 1px solid;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-repeat: no-repeat;
	background-position: 12px 10px;
	white-space: nowrap;
}

accordion ul li a .active {
	background-image: url(images/nav_active.png);
	background-repeat: repeat-x;
	background-color: #bada55;
	background-position: left center;
	filter: none;
}

.blockTradesTitle,. {
	text-shadow: 0 1px 0 #ffffff;
	color: #777777;
	font-size: 16px;
	line-height: 20px;
	font-weight: 100;
	padding-right: 12px;
}

. {
	color: red;
}

form div input {
	/*height: 10px;*/
	border-radius: 2px;
}

a.toggleFilter {
	background: url('../img/sort_desc.png') no-repeat center right;
	padding-right: 20px;
	margin-top: 10px;
	line-height: 50px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

a.open {
	background: url('../img/sort_asc.png') no-repeat center right;
}

.filterTitle {
	line-height: 50px;
}

#loading-indicator {
	/*display: none;*/
	position: fixed;
	z-index: 2000;
	left: 45%;
	top: 35%;
	background-color: #eee;
	width: 100px;
	height: 35px;
	border: 1px solid #bbb;
	margin: 10px;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

button.ui-multiselect {
	height: 27px;
	padding: 4px 0px !important;
	margin: 3px 0;
	text-align: left;
}
button.ui-multiselect-status{
	width: 120px !important;
}
button.ui-multiselect-side{
	width: 80px !important;
}

div.ui-multiselect-menu {
	width: 225px !important;
	position: absolute !important;
}

/* Modal dialog*/
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop,.modal-backdrop.fade.in {
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.modal {
	position: fixed;
	top: 10%;
	left: 50%;
    width: 400px;
	z-index: 1050;
	margin-left: -200px;
	background-color: #ffffff;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
}

.modal-md {
	width: 740px;
	margin-left: -370px;
}

.modal-lg {
	width: 850px;
	margin-left: -415px;
}

.modal.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -25%;
}
.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -25%;
}

.modal.fade.in {
	top: 10%;
}

.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	background-color: #eee;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-header h3 {
	margin: 0;
	line-height: 30px;
	color: #333333;
}

div.trade-display-header {
	max-height: 56px;
	overflow: hidden;
	background-color:#C3C3C3;
	color:black;
	font-family:helvetica;
	font-size:10pt;
	text-align:center;
	line-height:28px;
}

.modal-body {
	position: relative;
	overflow-y: auto;
	max-height: 400px;
	padding: 10px;
}

.modal-form {
	margin-bottom: 0;
}

.modal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
	*zoom: 1;
}

.modal-footer:before,.modal-footer:after {
	display: table;
	content: "";
	line-height: 0;
}

.modal-footer:after {
	clear: both;
}

.modal-footer .btn+.btn {
	margin-left: 5px;
	margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
	margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
	margin-left: 0;
}

.btn.btn-blue#forceMatchBtn {
	background: #00E10B
}

form#filterform {
	border-bottom: none;
}

form#filterform input#blockTable_range_from_7,form#filterform input#blockTable_range_to_7
	{
	width: 60px;
}

#tbl-header-wrap {
	font-size: 12px;
}

.ilb {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	float: left;
	border-left: 1px solid #C1C0BE;
	margin: 4px 0 4px 0;
	padding: 0 4px 0 2px;
}

.ilb p,.ilb .label-container {
	display: inline;
	padding: 0 2px;
}
.ilb .filter-column {
	display: inline;
}
.ilb.multi-select-filter {
	line-height: normal;
}
.ilb .select-filter select{
	height: 25px;
	border-radius: 3px;
}

.tbl-filter-container br + div:not(.ng-hide) {
    border-left: none;
}
.tbl-filter-container .ilb:first-of-type {
    border-left: none;
}
 /* IE8 Selector */
.tbl-filter-container br + div {
    border-left: none;
}
.tbl-filter-container .ilb:first-child { 
    border-left: none;
}

div.filterTitle.ilb {
	color: #0E1D90;
	font-weight: bold;
	font-size: 13px;
	line-height: 35px;
	padding: 0 5px 0 0;
	border-left: none;
	border-right: none;
}

#tbl-header-wrap input[type=text] {
	border: 1px solid #bcbcbc;
	margin: 4px 0;
}
form#filterform input{
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

a.toggleFilter {
	line-height: normal;
}

#tbl-header-wrap .btn-red {
	padding: 10px 13px;
}

.ft-button-group {
	float: right;
	border: none;
}
.counterDisplay {
    float: right;
    border: none;
    line-height: 17px;
    width:120px;
    padding: 5px 0px 0px 0px;
    margin-right: 4px;
}
.counterDisplay div, .counterDisplay a {
    float: right;
    width:100%;
    text-align:right;
}

#content {
	padding: 0;
	min-width: 1243px;
}

.tbl-filter-container {
	height: auto;
}

.filter-separator {
	position: relative; 
	top: 43px; 
	width: 100%; 
	height: 0; 
	border-top: 1px solid #d5d5d5;
}

.multi-select-filter {
	height: 35px;
}

.acc_info {
	float: right;
	margin: 17px 10px 17px 0;
	padding: 0;
	padding-top: 23px;
}

div#blockTable_wrapper th {
	vertical-align: middle;
	/*padding-left: 20px;*/
	font-size: 11px;
}

.css-form input.ng-invalid.ng-dirty {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.css-form input.ng-valid.ng-dirty {
	border-color: #468847;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.css-form input[type=checkbox] {
	height: 16px;
}

.css-form input[type=password] {
	width: 400px;
}

.css-form ul.comboselect {
	width: 620px;
}

.css-form div.comboselectbox div.combowrap {
	float: left;
	width: 620px;
}

.css-form div.comboselectbox {
	float: left;
}

.css-form div.comboselectbox div.combowrap a {
	min-width: 480px;
}

.css-form div.comboselectbox div.combowrap a span {
	font-size: 13px;
	line-height: 30px;
	min-width: 100px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #E8E7E5;
}

.css-form form div input {
	height: 20px;
	border-radius: 2px;
}

#accTableSummaryWrapper {
    text-align: center;
    float:left;
    width: 876px;
    border-bottom: none;
}
.datatableSummaryWrapper {
	font-size: 15px;
	background-color: #c3c3c3;
}

#blockCustomTagsLabel {
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    padding-left: 17px;
    width: 187px;
    float: right;
    border: #a5a5a5 solid 1px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    background: url(../img/icons-sprite.png) no-repeat;
    background-position: 20px -1240px;
}

#statusFilterSelectDiv {
	width: 100px;
}

form#filterform .select_filter {
	min-width: 50px;
	max-width: 85px;
	height: 24px;
	margin: 5px 0;
}

#atBlocktable_wrapper {
	/*min-height: 360px;*/
	min-height: 392px;
	background: white;
}

.thDetails {
	font-size: 10px;
}

#loginForm form, #passwordResetForm form {
	background-color: #E8E7E5;
	padding: 8px;
	border-radius: 8px;
}

#loginForm form div input, #passwordResetForm form div input {
	height: 15px;
	border-radius: 2px;
}

.allwhite {
	background-color: #fff;
}

.allgray {
	background-color: #E8E7E5;
}

.tdRowStatus_error {
	color: red;
}

.dataTables_empty {
    height: 20px;
    background-color: #f9f9f9 !important;
    color: #303030 !important;
    font-size: 12px;
    vertical-align: middle;
}

.green:disabled, .green:disabled:hover,
.gold:disabled, .gold:disabled:hover,
.blue:disabled, .blue:disabled:hover,
.cyan:disabled, .cyan:disabled:hover,
.red:disabled, .red:disabled:hover {
	background-color: rgb(155, 155, 155);
	color: rgb(190, 190, 190);
}
/* IE8 selector */
.green[disabled], .green[disabled]:hover,
.gold[disabled], .gold[disabled]:hover,
.blue[disabled], .blue[disabled]:hover,
.cyan[disabled], .cyan[disabled]:hover,
.red[disabled], .red[disabled]:hover {
	background-color: rgb(155, 155, 155);
	color: rgb(190, 190, 190);
}

span.ui-icon {
	display: inline-block;
	float: left;
}

div.ui-multiselect-header li {
	float: left;
}

div.ui-multiselect-header li:last-of-type {
	float: right;
}

ul.ui-multiselect-checkboxes {
	height: auto !important;
}

ul.ui-multiselect-checkboxes li {
	padding: 3px 1px 1px 1px;
}

ul.ui-multiselect-checkboxes span {
	font-size: 11pt;
}

.link-style, .link-style:hover {
    color: #4417D5 !important;
    text-decoration: underline;
}

.icon {
	background: url(../img/icons-sprite.png) no-repeat;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 13px;
	color: #FFF;
}

.icon.green-check {
	background-position: 0px -991px;
}

.icon.red-x {
	background-position: 0px -1031px;
}

.btn-icon {
	background: url(../img/icons-sprite.png) no-repeat;
	padding-left: 26px;
	color: #FFF;
}

.btn-icon.close {
	background-position: 7px -300px;
}

.btn-icon.disable {
	background-position: 15px -231px;
}

.btn-icon.check {
	background-position: 6px -51px;
}

.btn-icon.check-star {
	background-position: 5px -444px;
}

.btn-icon.link {
    background-position: 14px -1178px;
    padding-left: 32px;
}

.btn-icon.reject {
    background-position: 10px -299px;
}

.btn-icon.search {
	background-position: 10px -1121px;
}

.btn-icon.reload {
	background-position: 22px 11px;
}

.btn-icon.reactive-user {
	background-position: 8px -984px;
}

.btn-icon.export {
	background-position: 12px -933px;
}

.btn-icon.calendar {
	background-position: 6px -114px;
	padding: 4px 13px;
	display: inline-block;
	position: relative;
	top: 7px;
	height: 15px;
}

.btn-icon.add-user {
	background-position: 8px -169px;
	padding-left: 32px;
}

.btn-icon.list {
	background-position: 6px -367px;
}

.btn-icon.red-x {
	background-position: 8px -1024px;
}

.btn-icon.pencil {
	background-position: 0px -802px;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 14px !important;
	height: 12px;
	min-height: 12px;
	line-height: 12px;
	border-radius: 0;
}

.btn-icon.key {
	background-position: 0px -1104px;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 14px !important;
	height: 12px;
	min-height: 12px;
	line-height: 12px;
	border-radius: 0;
}

.btn-icon.small-cancel {
	background-position: 0px -852px;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 14px !important;
	height: 12px;
	min-height: 12px;
	line-height: 12px;
	border-radius: 0;
}

.btn-large {
	display: block;
	height: 60px;
	width: 60px;
	padding: 0;
}

.btn.small-text {
	font-size: 11px;
}

.btn-icon.user {
	background-position: 9px -513px;
}

.btn-icon.tolerance {
	background-position: 9px -605px;
}

.btn-icon.precision {
	background-position: 14px -696px;
}

.btn-icon.square-close {
	padding: 0;
	background-position: 0px -899px;
	padding: 0;
	display: inline-block;
	width: 12px;
	border-radius: 0;
	height: 11px;
}

.ui-datepicker-trigger, .ui-datepicker-trigger:hover{
    padding: 0px 4px 0px 2px;
    background: none;
}

button.no-hover-bg:hover {
	background-color: transparent;
}

.ft-button-group .btn {
	margin: 0px 4px 2px 4px;
	float: left;
}

#securityIDFilter-input {
    width: 70px;
}
#securityIDFilter-type {
    width: 70px;
    margin-left:5px;
}
#securityIDFilter-type[disabled] {
    background-color : #E8E7E5;
}
#clientFilter {
    width: 90px;
}
#entityFilter {
    width: 70px;
}
#avgPxToFilter, #avgPxFromFilter {
    width: 50px;
}
#qtyToFilter, #qtyFromFilter {
    width: 50px;
}
#currencyFilter {
    width:28px;
}
#allocIDFilter {
    width: 105px;
}
div[field-name=sideFilter]>span>button {
    width: 70px !important;
}

#searchBtn{
    width: 80px;
	height: 35px;
}
#cancelBtn{
    width: 80px;
	height: 35px;
}
#applyFilterBtn{
    width: 100px;
	height: 35px;
}
#exportBtn{
    width: 80px;
	height: 35px;
}
#resetBtn{
    width: 100px;
	height: 35px;
}
#clientValuesBtn{
    width: 100px;
	height: 35px;
}
#rejectTradesBtn{
    width: 80px;
	height: 35px;
}
#linkTradeBtn {
    width: 80px;
	height: 35px;
}

.filter_date_range button {
	border-radius: 0;
	margin: 0 8px;
	padding: 0;
	background: none;
}

.admin-nav {
	background: #FFF;
	padding: 0;
}

.admin-nav a {
	width: 80px;
	text-align: center;
	float: left;
	height: 95px;
	font-size: 13px;
	padding: 10px 0;
}

.admin-nav a.selected {
	background: #d6d3d3;
}

.admin-nav a span {
	margin-left: 10px;
}

.admin-content {
	min-height: 420px;
	background: #d6d3d3;
	padding: 0;
}

.searchable {
	float: none;
	border: 0;
	padding: 0;
}

.users-table {
	border: none;
	background: none;
}

.users-table th,.users-table td {
	margin: 0;
	padding: 0 4px;
	text-align: left;
	border: none;
}

.users-table td.icons {
	padding-left: 10px;
}

th.blank {
	width: 70px;
	border: none;
	background: #d6d3d3;
}

.admin-label {
	font-weight: bold;
	font-size: 18px;
	padding: 0px 0px 5px 0px;
}

.admin-form {
	margin: 20px;
}

.admin-form label {
	border: 0;
	background: none;
	font-size: 12px;
	text-shadow: none;
	padding: 7px 5px;
}

.admin-form div.buttons {
	width: 200px;
	padding: 5px 3px;
	float: left;
}

.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0;
	visibility: visible;
}

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 260px;
	padding: 8px 12px;
	color: #000;
	text-decoration: none;
	background-color: #FAC118;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #FAC118;
	border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	left: 5px;
	border-top-color: #FAC118;
	border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
	right: 5px;
	bottom: 0;
	border-top-color: #FAC118;
	border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #FAC118;
	border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #FAC118;
	border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #FAC118;
	border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	left: 5px;
	border-bottom-color: #FAC118;
	border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	right: 5px;
	border-bottom-color: #FAC118;
	border-width: 0 5px 5px;
}

.tooltip .close {
	float: right;
	text-decoration: none;
	color: #FFF;
}

.tooltip .close:hover {
	text-decoration: none;
}

.tooltip h2 {
	font-size: 14px;
	margin: 10px;
	padding: 0;
	line-height: 18px;
	font-weight: bold;
	color: #000;
	text-shadow: none;
}

.tooltip p {
	font-size: 12px;
	margin: 0 10px;
	padding: 0;
	color: #000;
	text-shadow: none;
}

.filterTitle.ilb span {
	color: #0E1D90;
	font-weight: bold;
}

select.flat {
	font-size: 14px;
	border: none;
	border-radius: 4px;
	color: #FFF;
	padding: 5px 28px 5px 12px;
	-webkit-appearance: none;
	background: #3c8bd0 url(../img/aarow-icon.png) no-repeat center right;
}

select.flat.white {
	color: #000;
	background: #F5F5F5 url(../img/aarow-icon-dark.png) no-repeat center
		right;
}

.popup-message {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -135px;
    width: 270px;
    z-index: 99999;
    min-height: 26px;
    border-radius: 10px;
    text-align: center;
}
.popup-message button {
    float: right;
    background: rgba(1,1,1,.1);
    width: 20px;
    height: 20px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
	line-height: 22px;
	text-align: center;
}
.popup-message.error {
    background: rgba(221, 131, 128, 0.90);
    border: 4px solid rgba(195, 116, 113, 0.95);
}
.popup-message.warning {
    background: rgba(255, 248, 145, 0.90);
    border: 3px solid rgba(221, 215, 125, 0.95);
}
.popup-message.success {
    background: rgba(213, 255, 199, 0.90);
    border: 3px solid rgba(180, 216, 169, 0.95);
}

.alert-popup {
	box-shadow: 0px 0px 12px 2px #C0C0C0;
	background: #ffb900;
	position: relative;
	padding: 5px 5px 0px 11px !important;
	border-radius: 4px;
	height: 51px;
	font-size: 11px;
}

.alert-popup.small {
	height: 22px;
	padding-top: 5px !important;
}

.alert-popup.small .arrow {
	top: 8px;
	left: -6px;
	width: 12px;
	height: 12px;
	padding: 0px !important;
}

.alert-popup.small .sidebox {
	height: 28px;
	margin-top: -5px;
}

.alert-popup.small .sidebox i {
	top: 6px;
}

.alert-popup .arrow {
	background: #ffb900;
	display: block;
	width: 16px;
	height: 16px;
	padding: 0px !important;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: absolute;
	top: 20px;
	left: -7px;
}

.alert-popup .sidebox {
	background: #3b3b3b;
	float: right;
	height: 58px;
	width: 30px;
	margin: -7px 0 0 0;
	position: relative;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.alert-popup .sidebox i {
	position: absolute;
	top: 18px;
	z-index: 9;
	left: 6px;
	height: 20px;
	width: 13px;
}

#dropdownOptionBox{
    width:90px;
    height:auto;
    background-color:#ffffff;
    position:absolute;
    border-radius:4px;
    border:1px solid #bbbbbb;
    margin-top: 2px;
}
#dropdownOptionBox ul{
    padding: 3px 0px;
}
#dropdownOptionBox li{
    padding: 3px 2px 3px 7px;
    margin: 0px;
	cursor: pointer;
}
#dropdownOptionBox li.selected{
     background-color:#007cba;
     color:#ffffff;
 }

#preferences .radio-inputs label {
	float: none;
	text-align: left;
	padding-left: 5px;
}

#preferences .modal-dialog form {
	margin: 0;
}

#preferences .modal-body {
	max-height: none;
}

#eventsLog.modal {
	width: 775px;
	margin-left: -380px;
}

#eventsLog .modal-body {
	max-height: inherit;
}

#linkTrades.modal {
     width: 990px;
     margin-left: -495px;
 }
#rejectTrades.modal {
    width: 775px;
    margin-left: -380px;
}
#miscFeeDetail.modal {
    width: 400px;
    margin-left: -200px;
}
#exportData.modal {
    width: 775px;
    margin-left: -380px;
}
#customTags.modal {
    width: 650px;
    margin-left: -325px;
}
#alertModal.modal {
    width: 560px;
    margin-left: -280px;
}
#preferences.modal {
    width: 670px;
    margin-left: -335px;
}

#createUser label.accessLevel {
	width: 165px;
	display: block;
	font-size: 14px;
	padding-left: 0;
}

#editUser.modal,#createUser.modal {
	width: 775px;
	margin-left: -380px;
	width: 650px;
	margin-left: -320px;
}

#editUser label,#createUser label,#changeUserPassword label,#preferences label, #forgotPassword label,#logout label
	{
	background: none;
	font-size: 14px;
	padding-top: 12px;
	filter: none;
}

#preferences label {
	font-weight: normal;
}

#preferences h3.subheading {
	font-size: 15px;
}

#preferences .form-fields div {
	margin-bottom: 8px;
}

#editUser label.accessLevel {
	display: inline-block;
	font-size: 14px;
}

#editUser button.ui-multiselect {
	width: 200px !important;
}

#preferences button.ui-multiselect {
	width: 100px !important;
}

#changeUserPassword button.ui-multiselect {
	width: 100px !important;
}

#editUser .btn.btn-icon.disable {
	width: 199px !important;
	background-position: 34px -232px;
	margin-top: 74px;
}

#customTags tr.odd{
    background-color: #ffffff;
}
#customTags tr.even{
    background-color: #f0f0f0;
}

#eventsLog .topEvents {
	height: 300px;
	border-bottom: solid 1px #7a7a7a;
}

#eventsLog .odd,#accTable .affirmed {
    background-color: #ffffff;
}

#eventsLog .topEvents ul li:nth-child(odd) {
	background-color: #e5e5e5;
}

#eventsLog .bottomEvents #eventMessage {
	word-break: break-all;
}

#eventsLog ul {
	list-style-type: none;
}

#eventsLog ul li a {
	text-decoration: underline;
	color: #290e80;
}

#eventsLog ul li {
	padding: 6px;
}

#eventsLog ul li:hover,#eventsLog ul li:hover a,#eventsLog ul li:nth-child(odd):hover
	{
	background: #0000ff;
	color: #FFF;
	cursor: pointer;
}

#deleteUser .modal-dialog {
	width: 500px;
	margin-top: 50px;
}

#createUser label,#editUser label,#preferences label,#changeUserPassword label
	{
	float: left;
	width: 100px;
	display: inline-block;
	padding-left: 0px;
	text-align: right;
}

#createUser input,#editUser input,#preferences input,#changeUserPassword input
	{
	display: inline-block;
	width: 160px;
}

span.ui-icon.right-icon {
	float: right;
	background-position: -163px -16px;
}

.greyButton {
	background: #7A7A7A;
	color: #FFF;
}

.greyButton span {
	color: #FFF;
}

.greyButton:hover {
	background: #8A8888;
}

.blueButton {
	background: #4d81ce;
	color: #FFF;
}

.blueButton span {
	color: #FFF;
	text-transform: none;
	font-weight: bold;
	font-size: 13px;
}

.blueButton:hover {
	background: #5a8dda;
}

.modalActionButtons {
	text-align: center;
	clear: both;
	margin-bottom: 15px;
	padding-top: 15px;
}

.modal button.btn {
	text-transform: none;
}

.leftColumn {
	float: left;
}

.rightColumn {
	width: 235px;
	float: right;
}

a.edit {
	text-decoration: none;
	font-weight: bold;
	color: #303030;
	cursor: default;
}

.confirm-text {
	font-weight: bold;
	padding: 20px 0 0 0;
}

h3.subheading {
	font-size: 17px;
	font-weight: bold;
	color: #000;
	margin: 12px 0 7px 0;
}

div#changePassword {
	margin-left: 5px;
}

.user-input-modal div.row-container,.admin-form div.row-container {
	float: left;
	height: 50px;
}

.user-input-modal div.row-item,.admin-form div.row-item {
	float: left;
	height: 34px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.user-input-modal div.input-and-message-container {
	width: 440px;
	display: inline-block;
}

.user-input-modal div.input-container {
	float: left;
	width: 175px;
	height: 34px;
}

.user-input-modal div.checked-input-container {
	float: left;
	height: 34px;
	width: 192px;
}

.user-input-modal div.user-alert-container-md,.admin-form div.user-alert-container-md
	{
	width: 245px;
	margin-top: -4px;
	margin-left: 10px;
	display: inline-block;
}

.user-input-modal div.user-alert-container-sm,.admin-form div.user-alert-container-sm
	{
	width: 245px;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}

.user-input-modal .user-alert,.modalActionButtons .user-alert {
	float: left;
	font-size: 11px;
	color: #dd4444;
}

.fee-title {
	font-weight: bold;
	text-align: center;
	margin: 20px;
}

#fees table {
	margin: 20px auto 20px auto;
	width: 90%;
	background: none;
	border: none;
	border-spacing: 0px;
}

#fees table th {
	font-weight: bold;
	background: #FFF;
	text-align: right;
	padding: 0 5px;
	border-color: #cccacb;
}

#fees table th:first-child,#fees table td:first-child {
	border-left: solid 1px #cccacb;
}

#fees table tr.heading th {
	text-align: center;
}

#fees table tr td {
	text-align: right;
	padding: 0 5px;
	border-color: #cccacb;
}

#fees table tr th.total {
	border: none;
	border-right: solid 1px #cccacb;
}

#fees table tr.heading th {
	border-top: solid 1px #cccacb;
}

.field-invalid {
	border-color: #dd6666 !important;
}

.field-valid {
	border-color: #66dd66 !important;
}

.misc-fees {
	text-decoration: underline;
	color: #0033cc;
}

td.statusTagClass,td.statusDescTagClass {
	text-align: center;
}

td.right-indent {
    text-align: right;
    padding-right: 10px;
}

td.right {
    text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.left-indent {
	padding-left: 20px;
}

.info-icon {
	vertical-align: top;
	margin-left: -17px;
	width: 17px;
}

button,a.btn {
	text-transform: none;
}

.tradeDetail td {
	color: #282828;
}

.modal-header .close {
	width: 24px !important;
	float: right;
	background: none;
	font-size: 20px;
	padding: 0;
	color: #A2A2A2;
}

.custom-input-small {
	width: 126px;
	margin-right: 10px;
	padding: 6px 8px;
	border-radius: 6px;
}

#settings-gear-icon {
	background: url(../img/icons-sprite.png) no-repeat;
	background-position: 0px -1068px;
	padding-right: 13px
}

.bold {
	font-weight: bold;
}

span.required-field {
	color: #dd4444;
	vertical-align: super;
}

div.input-field-note {
	font-style: italic;
	font-size: 11px;
}

div#block-trade-comment-popup {
	position: absolute;
	height: 60px;
	width: 100px;
	background: #e88d8f;
	color: black;
	border-radius: 8px;
	padding: 1px 3px;
	padding: 5px 15px 5px 10px;
	box-shadow: 0px 0px 12px 2px #5C5C5C;
	z-index: 2;
	word-wrap: break-word;
}

div#block-trade-comment-popup .arrow {
	background: #e88d8f;
	display: block;
	width: 16px;
	height: 16px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: absolute;
	top: 40%;
	right: -7px;
}
#eventsLog .odd, #accTable .odd {
	background-color: #e5e5e5;
}

td.details-control {
    background: url('../js/datatables/images/sort_asc.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../js/datatables/images/sort_desc.png') no-repeat center center;
}