<table id="accTable" cellspacing="0" cellpadding="0" border="0" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th data-mdata="allocAccount" data-sortable="true">Account</th>
        <th data-mdata="allocQty" data-sclass="right" data-sortable="true" data-datatype="quantity">Qty</th>
        <!-- th data-mdata="allocAvgPx" data-sclass="right" data-sortable="true" data-datatype="preciseprice">Avg&nbsp;Px</th>
        <th data-mdata="allocNetMoney" data-sclass="right" data-sortable="true" data-datatype="money">Net&nbsp;Money</th>
        <th data-mdata="totalCommission" data-sclass="right" data-sortable="true" data-datatype="money">Commission</th>
        <th data-mdata="totalMiscFees" data-sclass="right" data-sortable="true" data-datatype="money">Misc&nbsp;Fees</th>
        <th data-mdata="totalMiscFeesDetails" data-sclass="right" data-sortable="true">Misc&nbsp;Fees</th-->
        <th data-mdata="status" data-sortable="true">Alloc&nbsp;Status</th>
        <th data-mdata="rejReason" data-sortable="true">Alloc&nbsp;Rej&nbsp;Reason</th>
        <!-- th data-mdata="individualAllocID" data-sortable="true">Acct&nbsp;Alloc&nbsp;ID</th>
        <th data-mdata="aofsIndividualAllocID" data-sortable="true">Acct&nbsp;Alloc&nbsp;ID</th>
        <th data-mdata="allocSettlCurrency" data-sortable="true">Settle&nbsp;CCY</th>
        <th data-mdata="allocCustomTags" data-sortable="false" data-swidth="200px">Custom&nbsp;Tags</th-->
    </tr>
    </thead>
</table>